.Found {
  position: relative;
  background-image: url("../../assets/found.jpg");
  background-size: cover;
  background-position: top;

  .foundContent {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 550px;

    .foundText {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;

      border: 10px solid #fff;
      border-radius: 60px;

      padding: 20px 30px;

      h1 {
        font-size: 50px;
        color: #fff;
      }

      p {
        margin-bottom: 0;
        font-size: 30px;
        color: #fff;
      }

      .foundButton {
        display: flex;
        gap: 50px;
        margin-top: 50px;
        button {
          padding: 30px 50px;
          border: none;
          border-radius: 30px;
          font-size: 25px;
          cursor: pointer;
          font-weight: 600;

          &:hover {
            opacity: 0.9;
          }
        }
        .wp {
          background-color: #25d366;
          color: #fff;

          &:hover {
            background-color: #fff;
            color: #25d366;
            border: 1px solid #25d366;
          }
        }

        .phone {
          background-color: #007bff;
          color: #fff;

          &:hover {
            background-color: #fff;
            color: #007bff;
            border: 1px solid #007bff;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 605px) {
  .foundText {
    text-align: center;
    h1 {
      font-size: 30px !important;
    }
    p {
      font-size: 20px !important;
    }

    button {
      padding: 15px 30px !important;
    }
  }
}

@media screen and (max-width: 436px) {
  .foundText {
    padding: 0 !important;
    border: none !important;

    button {
      padding: 10px 20px !important;
      font-size: 15px !important;
    }
  }
}
