.text {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;

  .card {
    width: 260px;

    img {
      width: 260px;
      height: 200px;
      border-radius: 35px;
    }

    h1 {
      font-size: 20px;
    }
    p {
      font-size: 17px;
    }
  }
}
