.text {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 60px;

  .card {
    width: 260px;
    text-align: center;

    img {
      width: 260px;
      height: 200px;
      border-radius: 35px;
    }

    h1 {
      font-size: 20px;
    }
    p {
      font-size: 17px;
    }
  }
}

.modalContent {
  padding-top: 30px;

  h1{
    font-size: 22px;
  }
}

@media screen and (max-width: 578px) {
  .text {
    justify-content: center !important;
  }
}
