.home {
  position: relative;
  background-image: url("../../assets/homebg.jpg");
  background-size: cover;
  background-position: top;

  .homeContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 590px;

    .hometxt {
      max-width: 50%;
      color: #000000;

      h1 {
        font-size: 55px;
        font-weight: bold;
        margin: 0;
      }

      a {
        color: #007bff;
      }
      span {
        font-size: 35px;
        font-weight: bold;
        margin-bottom: 10px;
        color: #007bff;
      }

      h2 {
        font-size: 22px;
        font-weight: normal;
        margin-top: 0;
        margin-bottom: 20px;
      }

      p {
        font-size: 18px;

        span {
          font-size: 25px;
        }
      }
    }

    .homeImg {
      max-width: 50%;

      img {
        max-width: 100%;
        height: auto;
        border-radius: 30px;
      }
    }
  }
}

@media screen and (max-width: 769px) {
  .homeContent {
    justify-content: center !important;
    flex-direction: column-reverse;
    // height: 700px !important;
    text-align: center;
  }
}

@media screen and (max-width: 638px) {
  .homeContent {
    .hometxt {
      h1 {
        font-size: 40px !important;
      }
      span{
        font-size: 20px !important;
      }
    }
  }
}

@media screen and (max-width: 406px) {
  .homeContent {
    .hometxt {
      h1 {
        font-size: 30px !important;
      }
      span{
        font-size: 15px !important;
      }
    }
  }
}
