header {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  .headerContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
    height: 80px;

    h1 {
      font-size: 22px;
      font-weight: 600;
      color: #333;

      span {
        color: #007bff;
      }
    }

    nav {
      ul {
        display: flex;
        gap: 30px;
        list-style: none;
        padding: 0;
        margin: 0;

        li {
          a {
            text-decoration: none;
            color: #333;
            font-weight: 600;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }

    .headerButtons {
      display: flex;
      gap: 20px;

      button {
        padding: 10px 20px;
        border: none;
        border-radius: 15px;
        font-size: 16px;
        cursor: pointer;
        font-weight: 600;

        &:hover {
          opacity: 0.9;
        }
      }
      .wp {
        background-color: #25d366;
        color: #fff;

        &:hover {
          background-color: #fff;
          color: #25d366;
          border: 1px solid #25d366;
        }
      }

      .phone {
        background-color: #007bff;
        color: #fff;

        &:hover {
          background-color: #fff;
          color: #007bff;
          border: 1px solid #007bff;
        }
    }
  }
}
}

@media screen and (max-width: 1027px) {
  header {
    a{
      font-size: 17px !important;
    }
  }
}